.nav{
    background-color: #092854;
    
}
.card_1 {
  
    
    
    a {
      
        
        transition: transform 0.2s ease, box-shadow 0.3s ease;
    }
    a:hover {
        background-color: rgb(35, 35, 162);
        transform: translateY(-10px) scale(1.05);
    }
}
.button_container{
    margin-top: auto;

}
.item1 {
    // flex: 1;
    .img{
        border-radius: 10px;

    }
   
    
}   


.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-toggle {
    background-color: #d1c0c0; /* Dark button background */
    color: #fff;
    border: none;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease; /* Smooth transition */
    :hover {
    background-color: #cec8c8; /* Slightly lighter background */
    
    }
}
.dropdown-menu {
   
    a {
    display: block;
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 14px;
    transition: transform 0.3s ease, color 0.3s ease;
    }
    text-align: center;
}



